#canvas {
  box-shadow: 10px 10px 20px black;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(#0f0c29, #302b63, #24243e);
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

h1 {
  color: #0f0;
  font-size: 84px;
  mix-blend-mode: difference;
  position: relative;
}
h1:before,
h1:after {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
}

h1:before {
  content: attr(data-text);
  color: #f00;
  transform: translate(5px, 5px);
}

h1:after {
  content: attr(data-text);
  color: #00f;
  transform: translate(-5px, -5px);
}
